body {
  width: 100vh;
  min-width: 375px;
}
/*
  nav-bar
*/

.nav-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: 3px solid #6070FF;*/
  padding: 3%;
  margin: 3%;
  width: 100%;

}

 .nav-menu-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  flex: 1 1 32px;
  margin-right: 20px;
 }
 .nav-menu-button img {
  width: 100%;
  height: auto;
 }

 .nav-logo {
  color: #6070FF;
  font-family: 'Poppins';
  font-style: normal;
  line-height: 20px;
  flex: 20 1  auto;
  font-size: 2em;
  margin-left: 20px;
 }




