* {
  font-family: 'Poppins', sans-serif;
}

body {
  width: auto;
  min-width: 375px;
  margin: 0 0 0 0;
  font-family: 'Poppins', sans-serif;
  color: #344563;
  background: #f4f5f7;
}

.introduction-wrap,
.works-wrap,
.about-me-wrap,
.contact-me-container {
  width: auto;
  background-color: rgba(0, 0, 0, 0);
}

.button {
  border: 1px solid #396df2;
  border-radius: 10px;
  background-color: #fff;
  color: #396df2;
  padding: 12px;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 8%;
}

.button a {
  text-decoration: none;
  color: inherit;
}

/*
  Start top-nav-bar Mobile////////
*/

.nav-flex-container {
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%;
  width: auto;
  box-sizing: border-box;
}

.nav-my-logo {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 20px;
  flex: 10 1 auto;
  font-size: 5vw;
  font-weight: 900;
  height: 100%;
}

.nav-menu-button {
  flex: 1 1 10%;
  background-color: rgba(0, 0, 0, 0);
}

.nav-menu-button .nav-icon-menu {
  width: 40%;
  height: 40%;
  padding-top: 5%;
}

.nav-list-top {
  display: none;
}

.nav-list-top-dropMobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(32, 29, 206, 0.6);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-left: 8%;
  padding-right: 10%;
  margin-top: 0;
  padding-top: 30px;
  box-sizing: border-box;
  list-style: none;
}

#exit {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  margin-left: 92%;
  margin-right: 0;
}

.nav-list__options {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.75rem;
}

/*
  Ends top navigation bar
/*
  introduction text container///////
*/

.header-text {
  background: #fff;
  background-image: url('./img/header-shapes\ mobile@2x.svg');
  background-size: 100%;
  border-radius: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 17%;
  width: auto;
  color: #344563;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 20%;
}

.header-text h1 {
  /* this is a flex-box */
  min-width: 327px;
  min-height: 150px;
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  order: 0;
  color: #172b4d;
  margin-bottom: 1%;
}

.header-text .description {
  min-width: 327px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.lets-connect {
  min-width: 327px;
  width: auto;
  height: 10%;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  order: 2;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*
    Social icon container///////
*/

.social-icon-container {
  min-width: 163px;
  width: 40%;
  display: flex;
  order: 3;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 1%;
  padding-left: 0;
  list-style: none;
}

.social-icon-container a {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  width: fit-content;
}

.social-icon-container .social-icon {
  height: auto;
  width: 60%;
}

/*
  works section//////////
*/

.cards-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin-top: 100px;
  padding-left: 6%;
  padding-right: 6%;
  background: #f4f5f7;
}

.card-element {
  display: flex;
  flex-direction: column;
  border: 2px solid #dfe1e6;
  background-color: #fff;
  width: auto;
  height: auto;
  margin-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 10px;
}

.preview-picture {
  order: 0;
  margin: auto;
  justify-content: center;
  min-width: 295px;
  min-height: 220px;
  width: 100%;
}

.project-name {
  order: 1;
  margin-top: 2%;
  margin-bottom: 1%;
  min-width: 295px;
  min-height: 36px;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
}

.project-frame {
  order: 2;
  padding-left: 0;
  margin-top: 1%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
}

.project-frame li {
  min-width: 55px;
  min-height: 16px;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.card-main-text {
  order: 3;
  color: #344563;
  margin-top: 1%;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  min-width: 295px;
  min-height: 76px;
  padding-right: 10%;
}

.technology-tags {
  order: 4;
  display: flex;
  flex-direction: row;
  width: 60%;
  padding-left: 0;
  margin-bottom: 2%;
  justify-content: space-between;
  align-items: baseline;
}

.technology-tags li {
  list-style: none;
  min-height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 10%;
  padding-left: 4%;
  padding-right: 4%;
}

.See-project-button {
  order: 5;
  border: 1px solid #396df2;
  border-radius: 10px;
  background-color: #fff;
  color: #396df2;
  padding: 12px;
  padding-left: 1%;
  padding-right: 1%;
  width: 126px;
  margin-top: 8%;
}

/*
  Works Section------Popup-Starts;
*/

.portfolio-pupUp-backgroundOpen {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 10%;
  padding-left: 9.8%;
  padding-right: 9.8%;
  background-color: rgba(193, 199, 208, 0.6);
  backdrop-filter: blur(8px);
}

.portfolio-pupUp-backgroundClose {
  display: none;
}

.porfolio_pop-up_main-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 4%;
  padding-right: 4%;
  background: #fff;
  border: 2px solid #dfe1e6;
  border-radius: 12px;
  box-sizing: border-box;
}

.porfolio_pop-up_header {
  display: flex;
  order: 0;
  flex-direction: column;
}

.porfolio_pop-up_header .pop-up-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pop-up_project-frame {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 75%;
  width: 75%;
}

.pop-up_project-frame li {
  color: #7a869a;
  font-weight: 600;
}

.pop-up-top h2 {
  margin: 0;
}

.preview {
  max-height: 30vh;
  width: auto;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container button {
  width: 48%;
  display: flex;
  gap: 10%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#portfolioPopUpCloseBtn {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

/*
  Works Section------PopUp-ends;
*/

/*
Work Section Ends---------------------------
/*
  about myself section
*/

.about-me-wrap {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0 50px 0 0;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 10%;
  padding-bottom: 35%;
  margin-top: 200px;
}

.about-me-wrap h2 {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
}

.about-me-icons {
  width: 65%;
  margin-top: 4%;
}

.getResumeButton {
  order: 4;
  width: 50%;
  padding: 3%;
  border-radius: 5px;
  color: #396df2;
  border: 1px solid #396df2;
  background-color: rgba(0, 0, 0, 0);
  font-size: 100%;
}

.skill-list-container {
  order: 5;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.skill-section {
  line-height: 24px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.skill-section figcaption {
  display: flex;
  justify-content: space-between;
}

.skill-section ul {
  padding: 2%;
  list-style: none;
}

.skill-section li {
  display: flex;
  background: #f7f7f9;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 5px;
  align-items: center;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  box-sizing: border-box;
}

.skill-list-container .skill-icon {
  flex: 1 1 auto;
}

.skill-list-container span {
  padding-left: 5%;
  flex: 9 1 auto;
  text-align: left;
}

/*
contact me section
 */

.contact-me-container {
  background-color: #6070ff;
  background-image: url(./img/form-background-contactme.png);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 63%;
  display: flex;
  flex-direction: column;
  margin-top: -20%;
  margin-bottom: 0;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 25%;
  padding-bottom: 15%;
  border-radius: 100px 0 0 0;
  box-sizing: border-box;
}

.contact-me-container p,
.contact-me-container h2 {
  color: whitesmoke;
  text-align: center;
  align-self: center;
  font-size: 1.25rem;
}

.contact-me-container h2 {
  font-size: 2.9rem;
  margin-bottom: 0;
  margin-top: 0;
}

.contac-form {
  margin-right: 0;
}

.contac-form ul {
  padding-left: 0;
}

.contac-form input,
#get-in-touch {
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 5px;
  padding: 4%;
  border: 0;
  color: #6070ff;
  width: 100%;
  align-self: center;
  box-sizing: border-box;
}

#user-message {
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 4%;
  margin-top: 3%;
  box-sizing: border-box;
}

#get-in-touch {
  min-width: 142px;
  width: min-content;
  font-size: 1rem;
  font-weight: 500;
  padding: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.contact-me-container li {
  list-style: none;
}

.error {
  color: red;
}

/*
desktop version start here;
*/

/*
media queries Below
*/

@media (min-width: 768px) {
  /*
  navigation bar
  */

  .nav-icon-menu,
  #exit {
    display: none;
  }

  .nav-my-logo {
    flex: 1 1 auto;
    box-sizing: border-box;
    font-size: 1.5rem;
  }

  .nav-list-top {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    padding-right: 10%;
    padding-left: 45%;
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .nav-list__options {
    color: #344563;
    font-weight: 500;
    font-size: 1rem;
  }

  .nav-flex-container {
    height: 72px;
  }

  /*
  header and welcome text
  */

  .header-text {
    border-radius: 0 0 0 100px;
    background-image: url('./img/desktop/Header\ bgdesktop-header-background.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 10%;
  }

  .header-text h1 {
    margin-bottom: 2%;
    font-size: 3.12rem;
  }

  .header-text .description {
    font-size: 1.25rem;
    padding-bottom: 2%;
    margin-top: 0;
  }

  .social-icon-container {
    width: auto;
  }

  .about-me-icons {
    width: fit-content;
  }

  /*
  Job Cards Section
  */

  .cards-container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .card-element {
    flex-direction: row;
    padding: 2%;
  }

  .card-reverse {
    flex-direction: row-reverse;
  }

  .card-element img {
    flex: 1;
  }

  .preview-picture:hover {
    filter: drop-shadow(8px 8px 10px #6070ff);
    transition: 25ms;
    transform: scale(1.05);
  }

  .text-box {
    flex: 1;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
  }

  .technology-tags {
    width: fit-content;
    gap: 5%;
  }

  .technology-tags li {
    border-radius: 8px;
    padding: 5%;
    padding-left: 9%;
    padding-right: 9%;
  }

  .project-frame {
    padding-right: 30%;
    box-sizing: border-box;
  }

  .See-project-button {
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 500;
  }

  /* About Myself section */

  .about-me-wrap {
    border-radius: 0 100px 0 0;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
  }

  .about-me-wrap div {
    flex: 1;
    padding-right: 3%;
  }

  .about-description-container h2 {
    margin-bottom: 0;
    font-size: 3.2rem;
  }

  .about-description-container p {
    margin-top: 0;
    font-size: 1.2rem;
  }

  .about-description-container .getResumeButton {
    margin-top: 2%;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #6070ff;
    font-size: 1rem;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: fit-content;
  }

  .skill-section + .skill-section {
    border-bottom: 2px solid #dfe1e6;
  }

  .skill-section.no-dropped {
    height: 100%;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .skill-section ul {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-right: 35%;
  }

  .skill-section.no-dropped ul {
    display: none;
  }

  .skill-section li {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  hr {
    border: 1px solid black;
  }

  /*
  Desktop Contact me version
  */

  .contact-me-container {
    background-image: url(./img/desktop/desktop-footer-bakcground/contact\ form\ background\ shapes.svg);
    background-size: 100%;
    padding-left: 29%;
    padding-right: 29%;
    padding-top: 10%;
    padding-bottom: 15%;
  }

  #contac-form {
    padding-left: 5%;
    padding-right: 5%;
  }

  #contac-form ul {
    display: flex;
    flex-direction: column;
  }

  #get-in-touch {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    border-radius: 8px;
  }

  /*
  Desktop PopUP start----------------
  */
  .portfolio-pupUp-background {
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
  }

  .porfolio_pop-up_main-container {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .porfolio_pop-up_header .pop-up-top h2 {
    font-size: 3rem;
  }

  .pop-up_project-frame {
    width: 20%;
  }

  .portfolio_pop-up_container2 {
    display: flex;
    box-sizing: border-box;
  }

  .preview {
    width: 100%;
  }

  .portfolio_pop-up_text-container {
    font-size: 1.5rem;
    width: 65%;
    box-sizing: border-box;
  }

  .pop-up-skills-container {
    width: 35%;
    padding: 2%;
    box-sizing: border-box;
  }

  .portfolio_pop-up_container2 .technology-tags {
    width: 80%;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
  }

  /*
  Desktop PopUP start----------------
  */
}

/*
Media Queries upwards
*/

/*
hover effets
*/

.nav-menu-button img:hover,
.nav-menu-button li:hover {
  filter: drop-shadow(8px 8px 10px #6070ff);
  transition: 50ms;
  transform: scale(1.1);
}

#get-in-touch:hover {
  color: #fff;
  background-color: #4053fc;
}

button:hover {
  color: #fff;
  background-color: #4053fc;
}

.social-icon-container a img:hover {
  filter: drop-shadow(8px 8px 10px #6070ff);
  transition: 50ms;
  transform: scale(1.5);
}

.hide-template {
  display: none;
}


*{
  border: 1px solid green;
}